{% extends 'BackendBundle::base_backend.html.twig' %} 
{% block title %} ABM Clasificación de Patrimonios {% endblock %}   

{% block content %}


<div class="row">
	<div class="col-xs-9"> <h3> Gestión de Clasificaciones de Patrimonios </h3> </div>
	<div class="col-xs-3"> <a href="{{ path('patrimonioclasif_nuevo')}}" class="btn btn-primary">Nuevo</a> </div>
</div>


<table class="table table-bordered table-striped" >
<tr>
<th> Nombre </th>
<th> Id </th>
<th colspan="2"> Acciones </th>

</tr>
{% for clapat in clasificaciones %}

<tr>
<td> {{ clapat }} </td>
<td> {{ clapat.id }} </td>
<td><a href="{{ path('patrimonioclasif_editar', {'id': clapat.id} )}}">Editar</a></td>
<td><a href="{{ path('patrimonioclasif_eliminar', {'id': clapat.id} )}}">Eliminar</a></td> 
</tr>
{% endfor %}
</table>

{% if clasificaciones.getTotalItemCount > 10 %}
{{ knp_pagination_render(clasificaciones) }}
{% endif %}

{% endblock %}