{% extends 'BackendBundle::base_backend.html.twig' %} 
{% block title %} ABM Clasificación de Patrimonios {% endblock %}   

{% block content %}

<h3> Gestión de Clasificaciones de Patrimonios </h3>

{{ form(form)}}
<br />
<a href="{{ path('patrimonioclasif_nuevo')}}">
	<h4>[Crear Clasificación]</h4>
</a>
<table class="table table-bordered table-striped" >
<tr>
	<th colspan="3" style="text-align:center"> Acciones </th>
	<th> Id </th>
	<th> Nombre </th>
</tr>
{% for clapat in clasificaciones %}
<tr>
	<td><a href="{{ path('patrimonioclasif_show', {'id': clapat.id} )}}">Ver</a></td> 
	<td><a href="{{ path('patrimonioclasif_editar', {'id': clapat.id} )}}">Editar</a></td>
	<td><a href="{{ path('patrimonioclasif_eliminar', {'id': clapat.id} )}}">Eliminar</a></td> 
	<td> {{ clapat.id }} </td>
	<td> {{ clapat.nombre }} </td>
</tr>
{% endfor %}
</table>
{% if clasificaciones.getTotalItemCount > 10 %}
	{{ knp_pagination_render(clasificaciones) }}
{% endif %}
{% endblock %}
