{% extends 'IndicadorBundle::baseindic.html.twig' %} 
{% block content %}        
        <h4>Fallas reincidentes en un patrimonio</h4>	
        {{ form(form)}}
        <br/>
        <table class="table table-bordered table-striped ">
            <thead>
                <th>Falla</th>
                <th>Número Patrimonio</th>
                <th>Patrimonio</th>
                <th>Cantidad</th>
            </thead>
            <tbody>
                {% for dato in entities.datos%}
                <tr>
                    <td>{{ dato.falla }}</td>
                    <td>{{ dato.idPat}}</td>
                    <td>{{ dato.patrimonio}}</td>
                    <td>{{ dato.cantidad }}</td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        {% if entities.datos.getTotalItemCount > 10 %}
            {{ knp_pagination_render(entities.datos) }}
        {% endif %}
{% endblock %}