{% extends 'IndicadorBundle::baseindic.html.twig' %} 
{% block content %}        
        <h3>Distribución del Consumo en Pesos</h3>	
        {{ form(form)}}
        <br/>
        <table class="table table-bordered table-striped ">
            <thead>
                <th>Nro. Repuesto</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Total</th>
            </thead>
            <tbody>
                 {% set total = 0 %}
                {% for dato in entities.datos%}
                <tr>
                    <td>{{ dato.repNumero }}</td>
                    <td>{{ dato.repNombre }}</td>
                    <td>{{ dato.cantidad }}</td>
                    <td>{{ dato.total }}</td>
                    {% set total = total + dato.total %}
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total $</td>
                    <td>{{ total }}</td>                   
                </tr>
            </tbody>
        </table>
        {% if entities.datos.getTotalItemCount > 10 %}
            {{ knp_pagination_render(entities.datos) }}
        {% endif %}
{% endblock %}