{% extends 'IndicadorBundle::baseindic.html.twig' %} 
{% block content %}        
        <h4>Cantidad de AT solicitadas agrupadas por Sectores técnicos</h4>	
        {{ form(form)}}
        <br/>
        <table class="table table-bordered table-striped ">
            <thead>
                <th>Nro. Sector Destino</th>
                <th>Nombre</th>
                <th>Cantidad de Atenciones</th>
            </thead>
            <tbody>
                {% for dato in entities.datos%}
                <tr>
                    <td>{{ dato.secDestino }}</td>
                    <td>{{ dato.nombreDestino }}</td>
                    <td>{{ dato.cantAtenciones }}</td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="4"> 
                            <p class="text-center">
                                No hay resultados para mostrar con los parametros ingresados 
                            </p>
                        </td>
                    </tr>               
                {% endfor %}
            </tbody>
        </table>
        {% if entities.datos.getTotalItemCount > 10 %}
            {{ knp_pagination_render(entities.datos) }}
        {% endif %}
{% endblock %}
