{% extends 'IndicadorBundle::baseindic.html.twig' %} 
{% block content %}        
        <h4>Productividad de Técnicos</h4>
        <h6>Con rol principal o ayudante</h6>

        {{ form(form)}}
        <br/>
        <table class="table table-bordered table-striped ">
            <thead>
                <th>Nro. Técnico</th>
                <th>Nom. Técnico</th>
                <th>Nom. Sector</th>
                <th>Cantidad</th>
            </thead>
            <tbody>
                {% for dato in entities.datos%}
                <tr>
                    <td>{{ dato.numTecnico }}</td>
                    <td>{{ dato.nomTecnico }}</td>
                    <td>{{ dato.nomSector }}</td>
                    <td>{{ dato.cantidad }}</td>
                </tr>

                 {% else %}
                    <tr>
                        <td colspan="4"> 
                            <p class="text-center">
                                No hay resultados para mostrar con los parametros ingresados 
                            </p>
                        </td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
        {% if entities.datos.getTotalItemCount > 10 %}
            {{ knp_pagination_render(entities.datos) }}
        {% endif %}
{% endblock %}