{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Gestión de Técnicos</h3>
    {{ form(form)}}
    <br />
    <table class="table table-bordered table-striped" >
        <thead>
            <tr>
                <th colspan="3" style="text-align:center">Acciones</th>
                <th>Id</th>
                <th>Nombre</th>
                <th>Documento</th>
                <th>Usuario</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in tecnicos %}
            <tr>
                <td><a href="{{ path('tecnico_show', { 'id': entity.id }) }}">Ver</a></td>
                <td><a href="{{ path('tecnico_edit', { 'id': entity.id }) }}">Editar</a></td>
                <td><a href="{{ path('tecnico_eliminar', { 'id': entity.id }) }}">Eliminar</a></td>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.documento }}</td>
                <td>{{ entity.username }}</td>  
                {% if entity.enabled %}
                    <td>si</td>
                {% else %}
                    <td>no</td>    
                {% endif %}             
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('tecnico_new') }}">
        Crear Técnico
    </a>
    <br />
    {% if tecnicos.getTotalItemCount > 10 %}
    {{ knp_pagination_render(tecnicos) }}
    {% endif %}    
    {% endblock %}
