{% extends 'AtBundle::base_at.html.twig' %} 
{% block content -%}

    <h3>Crear Evolución para AT: {{ entity.at.id }}</h3>
    <p> <strong>Problemas:</strong> {{ entity.at.descripcion }}</p>
    <hr>

    {{ form(form,{'attr': {'novalidate':'novalidate'}}) }}
   
     
        <a href="{{path('at_historico', {'idAt': entity.at.id }) }}">
        <h4>[Volver]</h4>
        </a>

       
    
 {% endblock %}
  {% block javascript %}
	<script type="text/javascript">

	$(document).ready(function(){ 
        {% if tieneFalla == false %}
		  $('#atmanager_atbundle_athistorico_estadio option[value="{{ estadioFinaliza.id}}"]').attr('disabled','disabled');
        
        {% endif %}

	});

	</script>

{% endblock %}
