{% extends '::base.html.twig' %}

 
{% block menuwrap %}
        <div class="col-xs-3" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="{{ path('marca_listado')}}" class="list-group-item">Marcas</a>
            <a href="{{ path('local_listado')}}" class="list-group-item">Locales</a>
            <a href="{{ path('patrimonioclasif_listado')}}" class="list-group-item">Clasificación de Patrimonio</a>
            <a href="{{ path('falla_listado')}}" class="list-group-item">Fallas</a>
            <a href="{{ path('estadioclasif')}}" class="list-group-item">Clasificación de Estadios</a>
            <a href="{{ path('estadio')}}" class="list-group-item">Estadios</a>
            <a href="{{ path('tecnico_listado')}}" class="list-group-item">Técnicos</a>
            <a href="{{ path('rol')}}" class="list-group-item">Roles</a>
            <a href="{{ path('repuesto')}}" class="list-group-item">Repuestos</a>
            <a href="{{ path('serviciotercero')}}" class="list-group-item">Servicios de Terceros</a>
            <a href="{{ path('proveedor')}}" class="list-group-item">Proveedores</a>
	    <a href="{{ path('prioridad_listado')}}" class="list-group-item">Prioridades</a>	
            <a href="{{ path('sectortipo_listado')}}" class="list-group-item">Clasificación de Sectores</a>
            <a href="{{ path('sector_listado')}}" class="list-group-item">Sectores</a>
          </div>
        </div><!--/span-->
 {% endblock %}
