{% extends 'FrontendBundle::base_frontend.html.twig' %}
{% block content %}
    <h3>Resultados de la consulta AT</h3>
    <a href="{{ path('at_buscador')}}"><h4>[Consultar]</h4></a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan="2" style="text-align:center">Acciones</th>
                <th>Nro. AT</th>
                <th>Solicitante</th>
                <th>Sector Solicitante</th>
                <th>Sector Destino</th>
                <th>Estado Actual</th>		
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
        	<td><a href="{{ path('at_show', { 'id': entity.id }) }}" title="Ver Solicitud AT"> Detalle </a></td>
        	<td><a href="{{ path('at_ver_historico', { 'id': entity.id }) }}" title="Consultar evolución de AT">Ver evolución</a> </td>                
        	<td>{{ entity.id }}</td>
                <td>{{ entity.personasolicita }}</td>
        	<td>{{ entity.sectorsolicita }}</td>
                <td>{{ entity.sectordestino }}</td>
                <td>{{ entity.miUltimoEstadio }}</td>
            </tr>
        {% endfor %}
        </tbody>  
    </table>
    {% if entities.getTotalItemCount > 10 %}
     	{{ knp_pagination_render(entities) }}
    {% endif %}        
{% endblock %}