{% extends 'FrontendBundle::base_frontend.html.twig' %}
{% block content %}
    <h3> Gestión de Asistencias Técnicas </h3>
    <table>
    <tr>
	<td>
    	    <a href="{{ path('at_new') }}">
        	<h4>[Solicitar]</h4>
    	    </a>
	</td>
	<td>
    	    <a href="{{ path('at_buscador') }}">
		<h4>[Buscar]</h4>
    	    </a>
	</td>    
    </tr>
    </table> 
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
	    <th colspan="2" style="text-align:center">Acciones</th>
            <th>Solicitud Nro.</th>
            <th>Solicitante</th>
            <th>Sector Solicitante</th>	
        </tr>
        </thead> 
    	<tbody>   
        {% for entity in entities %}
	<tr>
	    <td><a href="{{ path('at_show', { 'id': entity.id }) }}"> Ver </a></td>
	    <td><a href="{{ path('at_ver_historico', { 'id': entity.id }) }}">Ver Historico</a> </td>                
	    <td>{{ entity.id }}</td>
	    <td>{{ entity.personasolicita }}</td>
	    <td>{{ entity.sectorsolicita }}</td>
	</tr>
	{% endfor %}
    	</tbody>
   </table>
    {% if entities.getTotalItemCount > 10 %}
     	{{ knp_pagination_render(entities) }}
    {% endif %}         
{% endblock %}
