{% extends 'FrontendBundle::base_frontend.html.twig' %} 
{% block title %} Solicitud de AT {% endblock %}       
	{% block content %}
	<h4> Nueva Solicitud de Asistencia técnica </h4>
	<p> Ingrese los datos obligatorios [*] </p>
	<hr>



{{ form_start(form,{'attr': {'novalidate':'novalidate'}} )}}  

	<div class="row"> 
		<div class="col-xs-6"> 
			<div class="row">
				<div class="col-xs-8">
					{{ form_row(form.patrimonio) }}	
				</div>

					<div class="col-xs-4">
						
					<div class="form-group">
						<label>&nbsp;</label>
						 <div> 
							<a href="{{path('patrimonio_existe')}}" 
				 			id="consulta" class="btn btn-primary btn-block">Consultar
				 			</a>
						</div>
					 </div>					
					</div>


			</div>
			<p id="descripcion"> &nbsp; </p>
			<p id="local"> &nbsp; </p>
			{{ form_row(form.personasolicita) }}
				<p>&nbsp;</p>
			{{ form_row(form.descripcion) }}

							
		</div>

		<div class="col-xs-6">
							
			{{ form_row(form.sectorsolicita) }}
			<p>&nbsp;</p>
			{{ form_row(form.sectordestino) }}
			<p>&nbsp;</p>
			{{ form_row(form.prioridad) }}	
		</div>
	</div> 
 {{ form_end(form) }}  

 
			
{% endblock %}
 


{% block javascript %}
	<script type="text/javascript">

	$(document).ready(function(){
		$('#consulta').on('click',
			function(){ 
						$.ajax({
								url: $(this).attr('href')+"/"+$('#atmanager_frontendbundle_at_patrimonio').val(),
								dataType: "json",
								error: function(jqXHR,textstatus)
								{
									$('#descripcion').html('No existe patrimonio...');
									$('#local').html('No existe local..');
								},
								
								success: function(data, textstatus)
								{
									console.log(data);
									$('#descripcion').html(data.descripcion+' en '+data.local);
								}
							   });
		return false;
		});

	});

	</script>

{% endblock %}