{% extends '::base.html.twig' %}

{% block body -%}
    <h1>At</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ entity.numero }}</td>
            </tr>
            <tr>
                <th>Fechasolicitud</th>
                <td>{{ entity.fechasolicitud|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechafin</th>
                <td>{{ entity.fechafin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Personasolicita</th>
                <td>{{ entity.personasolicita }}</td>
            </tr>
            <tr>
                <th>Ipsolicita</th>
                <td>{{ entity.ipsolicita }}</td>
            </tr>
            <tr>
                <th>Hostsolicita</th>
                <td>{{ entity.hostsolicita }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('at') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('at_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
