{% extends 'FrontendBundle::base_frontend.html.twig' %}


{% block content %}
    <h4>Historico/Evolución de Asistencias Técnicas</h4>
     <a href="javascript:history.back(1)">[Volver]</a>
     <a href="{{ path('at_show', { 'id': entity.id }) }}">[Ver Técnicos]</a>
     <a href="{{ path('at_show', { 'id': entity.id }) }}">[Ver Fallas]</a>

    <table class="table">
        <tbody>
            <tr>
                <th>AT</th>
                <th>Estadio</th>
                <th>Fecha</th>
                <th>Descripción</th>
              
                
            </tr>

            {% for estadio in entity.getHistoricos %}
            <tr>
                <td><a href="{{ path('at_show', { 'id': entity.id }) }}"> {{ estadio.id }} </a></td>
                <td>{{ estadio.estadio }}</td>
                <td>{{ estadio.fecha | date('d/m/y H:i') }}</td>
                <td>{{ estadio.comentario }}</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

        
        
 
{% endblock %}
