{% extends 'FrontendBundle::base_frontend.html.twig' %}

{% block content %}
    <h3>Constancia de Solicitud de Asistencia técnica</h3>
      <a href="javascript:history.back(1)">[Volver]</a>

    <table class="table">
        <tbody>
            
            {% if entity %}
            
            <tr>
                <th>Numero de Solicitud</th>
                <td>{{ entity.id }}</td>
            </tr>
        
            <tr>
                <th>Falla declarada</th>
                <td>{{ entity.descripcion }}</td>
            </tr>

            <tr>
                <th>Solicitante</th>
                <td>{{ entity.personasolicita }}</td>
            </tr>

            <tr>
                <th>Sector de Solicitante</th>
                <td>{{ entity.sectorsolicita }}</td>
            </tr>

            <tr>
                <th>Sector técnico destinatario</th>
                <td>{{ entity.sectordestino ~ ' Interno/Mail: [' ~ entity.sectordestino. internos ~ '] [' ~ entity.sectordestino.mail ~ ']'}}</td>
            </tr>

            <tr>
                <th>Patrimonio Involucrado</th>
                {% if entity.patrimonio %}
                <td>{{ entity.patrimonio }}</td>
                {% else %}
                <td>{{ 'No hay patrimonio asociado' }}</td>
                {% endif %}
            </tr>




            {% endif %}
        


        </tbody>
    </table>
    <p><em>Registre el <strong> número de solicitud </strong> para posterior reclamo o seguimiento</em></p>


{% endblock %}

{% block pie %}
{% endblock %}
