{% extends 'FrontendBundle::base_frontend.html.twig' %}
{% block content %}
    <h3>Historico AT de: {{ entity.id }} </h3>
    <table class="table">
	<thead>	
	    <tr>	            
                <th>Estadio</th>
                <th>Fecha</th>
		<th>Comentario</th>
            </tr>
	</thead>
        <tbody>    
            {% for estadio in entity.getHistoricos %}
            <tr>
                <td>{{ estadio.estadio }}</td>
                <td>{{ estadio.fecha | date('d/m/y H:i') }}</td>
                <td>{{ estadio.comentario }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('at_buscador') }}">
	Volver Al Buscador
    </a>
{% endblock %}
