{% extends 'FrontendBundle::base_frontend.html.twig' %}
{% block menuwrap %}
{% endblock %}

{% block content %}

<h3 class="title" style="text-align:center">Visualizar AT {{ estadio }} </h3>

Técnico: {{ app.user.nombre }} &nbsp; Sector: {{ app.user.sector }}
<br />
<a href="javascript:history.back(1)"><h4>[Volver]</h4></a> 
<table class="table table-bordered table-striped table-condensed">
    <thead>
        {% if estadio.getClasificacion().getIniciaAt() %}
            <th colspan="4" style="text-align:center">Acciones</th>
        {% else %}
            <th colspan="2" style="text-align:center">Acciones</th>
        {% endif %}
        <th>AT Nro.</th>
        <th>Fecha Solicitud</th>
        <th>Solicitante</th>
        <th>Sector Solicitante</th>
        <th>Descripción del problema</th>        		
    </thead>   
    <tbody>
    {% for entity in entities %}
	<tr>
            <td>
                <a href="{{ path('at_edit', { 'id': entity.id }) }}" title="Reasignar la AT a otro sector"> 
                    Editar 
                </a>
            </td>
            {% if entity.miUltimoEstadio().getClasificacion().getIniciaAt() %}
            <td>
                <a href="{{ path('atecnica_cancelar', { 'id': entity.id }) }}" title="Cancela AT motivos válidos" onClick="return confirm('¿Desea cancelar la AT seleccionada?');"> 
                    Cancelar 
                </a>
            </td>
            {% endif %}
            <td>
                <a href="{{ path('at_ver_historico', { 'id': entity.id }) }}" title="Visualiza los avance en la reperación de la AT">
                    Evolución 
                </a>
            </td>
            {% if entity.miUltimoEstadio().getClasificacion().getIniciaAt() %}        
            <td>
                <a href="{{ path('atecnica_generoAgendaTecnico', { 'id': entity.id }) }}" title="Asigna un técnico para el diagnóstico" >
                    Aceptar
                </a>   
            </td>                
            {% endif %} 
            <td>
                {{ entity.id }}
            </td>
            <td>
                {{ entity.fechasolicitud|date('d/m/Y - H:i:s') }}
            </td>	  
            <td>
                {{ entity.personasolicita }}
            </td>		
            <td>
                {{ entity.sectorsolicita }}
            </td>
            <td>  
                {{ entity.descripcion }}
            </td>
	</tr>
    {% else %} 
        <tr>
            <td>
                No Hay datos para mostrar..
            </td>
        </tr> 
    {% endfor %}
    </tbody>
</table>

{% if entities.getTotalItemCount > 10 %}
    {{ knp_pagination_render(entities) }}
{% endif %}   

{% endblock %}