{% extends 'FrontendBundle::base_frontend.html.twig' %}
{% block menuwrap %}
{% endblock %}

{% block content %}

<h4 class="title"> Abordaje inicial de AT </h4>
<h5>Filtradas por estadio:  {{ estadio }} </h5>

<h5>Sector: {{ app.user.sector }} </h5>
<hr>

<table class="table table-bordered table-striped table-condensed">
    <thead>
       

        <th>AT</th>
        <th>Fecha Solicitud</th>
        <th>Sector Solicitante</th>
        <th>Último Estadio</th> 
        <th>Prioridad</th>
        <th style="text-align:center">Descripción del problema</th> 
        <th style="text-align:center">Acciones</th>
           
    </thead>   
    <tbody>
    {% for entity in entities %}
	<tr>
            

            <td>
                {{ entity.id }}
            </td>
            <td>
                {{ entity.fechasolicitud|date('d/m/Y') }}
            </td>	  
           	
            <td style="font-size:9px">
                 {{ entity.sectorsolicita }} 
                 <br />
                 internos: {{ entity.sectorsolicita.internos }}
            </td>

            <td style="font-size:10px">  
                {{ entity.miUltimoEstadio() }}
            </td>
            <td style="font-size:10px">  
                {{ entity.prioridad }}
            </td> 

            <td style="font-size:10px">  
                    
               {{ entity.descripcion }}        
            </td>

            <td>
            <!-- Single button -->
                    <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-  haspopup="true" aria-expanded="false">
                               <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                            </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('at_edit', { 'id': entity.id }) }}" title="Modificar datos permitidos..."> 
                                            Modificar
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{{ path('atecnica_reasignotec', { 'id': entity.id }) }}" title="  Reasignar técnico principal"> 
                                            Reasignar tecnico
                                        </a>
                                    </li>

                                    <li>
                                         {% if entity.miUltimoEstadio().getClasificacion().getIniciaAt() %}                
                                            <a href="{{ path('atecnica_cancelar', { 'id': entity.id }) }}" title="Cancelar AT" onClick="return confirm('¿Desea cancelar la AT seleccionada?');"> 
                                                Cancelar At 
                                            </a>
            
                                        {% endif %}
                                    </li>

                                    <li>
                                        <a href="{{ path('at_ver_historico', { 'id': entity.id }) }}" title="Visualizar evolución de la AT">
                                            Ver Evolución
                                        </a> 
                                    </li>

                                    <li>
                                        {% if entity.miUltimoEstadio().getClasificacion().getIniciaAt() %}        
          
                                         <a href="{{ path('atecnica_generoAgendaTecnico', { 'id': entity.id }) }}"  title="Aceptar Solicitud. Asignar técnico responsable para evolución" >
                                            Aceptar At
                                         </a>   
                        
                                        {% endif %} 
                                    </li>

                              </ul>
                    </div>
            </td>                  
	</tr>
    {% else %}
                    <tr>
                        <td colspan="11"> 
                            <p class="text-center">
                                No hay datos pata mostrar 
                            </p>
                        </td>
                    </tr>
    {% endfor %}
    </tbody>
</table>


{% if entities.getTotalItemCount > 10 %}
    {{ knp_pagination_render(entities) }}
{% endif %}   

<a href="{{ path('atecnica_buscador') }}">[Volver]</a> 

{% endblock %}