{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Gestión de Estadios</h3>
    <a href="{{ path('estadio_new') }}">
   	<h4>[Crear Estadio]</h4>
    </a>	
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan="3" style="text-align:center">Acciones</th>
                <th>Id</th>
                <th>Nombre</th>
                <th>Comentario</th>
                <th>Activo</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('estadio_show', { 'id': entity.id }) }}">Ver</td>
                <td><a href="{{ path('estadio_edit', { 'id': entity.id }) }}">Editar</a></td>
                <td><a href="{{ path('estadio_eliminar', { 'id': entity.id }) }}" onclick="return confirm('¿Desea eliminar el item seleccionado?');">Eliminar</a></td>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.comentario }}</td>
                {% if entity.estado %}
                    <td>si</td>
                {% else %}
                    <td>no</td>    
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
            
    {% endblock %}
