{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Listado de estadios</h3>

     <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Comentario</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('estadio_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.comentario }}</td>
                <td>{{ entity.estado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('estadio_show', { 'id': entity.id }) }}">Ver</a>
                        <a href="{{ path('estadio_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('estadio_new') }}">
                Crear nuevo estadio
            </a>
        </li>
    </ul>
    {% endblock %}
