{% extends 'BackendBundle::base_backend.html.twig' %} 
{% block content %}

<h3> Gestión de Marcas </h3>
{{ form(form)}}
<br />
<a href="{{ path('marca_nuevo')}}">
	<h4>[Crear Marca]</h4>
</a> 
<table class="table table-bordered table-striped" >
<tr>
    <th colspan="3" style="text-align:center"> Acciones </th>
    <th> Id </th>
    <th> Nombre </th>
</tr>
{% for marca in marcas %}
<tr>
    <td><a href="{{ path('marca_show', {'id': marca.id} )}}">Ver</a></td>
    <td><a href="{{ path('marca_editar', {'id': marca.id} )}}">Editar</a></td>
    <td><a href="{{ path('marca_eliminar', {'id': marca.id} )}}"  onclick="return confirm('¿Desea eliminar el item seleccionado?');">Eliminar</a></td> 
    <td> {{ marca.id }} </td>
    <td> {{ marca.nombre }} </td>
</tr>
{% endfor %}
</table>
{% if marcas.getTotalItemCount > 10 %}
	{{ knp_pagination_render(marcas) }}
{% endif %}
{% endblock %}
