{% extends 'BackendBundle::base_backend.html.twig' %} 
{% block title %} ABM Marcas {% endblock %}   

{% block content %}


<div class="row">
	<div class="col-xs-9"> <h3> Gestión de Marcas </h3> </div>
	<div class="col-xs-3"> <a href="{{ path('marca_nuevo')}}" class="btn btn-primary">Nuevo</a> </div>
</div>


<table class="table table-bordered table-striped" >
<tr>
<th> Nombre </th>
<th> Id </th>
<th colspan="2"> Acciones </th>

</tr>
{% for marca in marcas %}

<tr>
<td> {{ marca }} </td>
<td> {{ marca.id }} </td>
<td><a href="{{ path('marca_editar', {'id': marca.id} )}}">Editar</a></td>
<td><a href="{{ path('marca_eliminar', {'id': marca.id} )}}">Eliminar</a></td> 
</tr>
{% endfor %}
</table>

{% if marcas.getTotalItemCount > 10 %}
{{ knp_pagination_render(marcas) }}
{% endif %}

{% endblock %}