{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Gestión de fallas</h3>

    <table class="table table-bordered table-striped" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripamplia</th>
                <th>Estado</th>
                <th colspan="3" style="text-align:center"> Acciones </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripamplia }}</td>
                <td>{{ entity.estado }}</td>
                <td><a href="{{ path('falla_show', { 'id': entity.id }) }}">Ver</a></td>
                <td><a href="{{ path('falla_edit', { 'id': entity.id }) }}">Editar</a></td>
                <td><a href="{{ path('falla_eliminar', { 'id': entity.id }) }}">Borrar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('falla_new') }}">
                Crear nueva Falla
            </a>
        </li>
    </ul>

    {% if entities.getTotalItemCount > 10 %}
    {{ knp_pagination_render(entities) }}
    {% endif %}

    {% endblock %}
