{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Ver Falla</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripción Ampliada:</th>
                <td>{{ entity.descripamplia }}</td>
            </tr>
            <tr>
                <th>Activo:</th>
                {% if entity.estado %}
                    <td>si</td>
                {% else %}
                    <td>no</td>    
                {% endif %}
            </tr>

            <tr>
                <th>Sectores</th>

                <td>{% for sector in entity.sector %} 
                    <p>{{ sector }}</p>
                    {% endfor %}
                </td>
            
            </tr>
        </tbody>
    </table>
        <a href="{{ path('falla_listado') }}">
            Regresar a listado
        </a>
{% endblock %}
