{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Visualizar Falla</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripamplia</th>
                <td>{{ entity.descripamplia }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('falla_listado') }}">
            Regresar a listado
        </a>
    </li>
    <li>
        <a href="{{ path('falla_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
