<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>AT Manager - {% block title %}{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="offcanvas.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Moviles</a>
          </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{path('backend_inicial')}}">Administración</a></li>
            <li><a href="{{path('patrimonio_inicial')}}">Patrimonio</a></li>
             <li><a href="#">Abordar AT</a></li>
              <li><a href="#">Indicadores</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ayuda<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Descargar Manual Usuario</a></li>
                <li><a href="#">Descargar Manual Técnico</a></li>
                <li class="divider"></li>
                <li><a href="#">Mesa de ayuda</a></li>
                <li class="divider"></li>
                <li><a href="#">Acerca de AT Manager</a></li>
              </ul>
            </li>
          </ul>

          {% block buscar %}
          
          {% endblock %}
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('inicio')}}">Inicio</a></li>
            <li class="dropdown">
             <a href="#"  class="active" class="dropdown-toggle" data-toggle="dropdown">AsistenciasTécnicas <b class="caret"></b></a>  <ul class="dropdown-menu">
                <li><a href="#">Solicitar</a></li>
                <li><a href="#">Reclamar</a></li>
                <li class="divider"></li>
                <li><a href="#">Seguimiento</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div> <!-- fin navbar -->


    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-9">
           {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
            {% endfor %}
          {% block content %}{% endblock %}
          
        </div><!--/span-->
        
        {% block menuwrap %}
        {% endblock %}

      </div><!--/row-->

      <hr>

      <footer>
        <p> &copy; {{ 'now' | date('Y') }} - AT Manager  <em> <strong> By Symfony </strong> </em> 
        <a href="{{ path('pagina_estatica', { 'pagina': 'ayuda' }) }}">[Ayuda]</a>
        <a href="{{ path('pagina_estatica', { 'pagina': 'contacto' }) }}">[Contacto]</a>
        <a href="{{ path('pagina_estatica', { 'pagina': 'privacidad' }) }}">[Privacidad]</a>
        <a href="{{ path('pagina_estatica', { 'pagina': 'sobre-nosotros' }) }}">[Sobre el Proyecto]</a>
        </p>
      </footer>


    </div><!--/.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>


