<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>AT Manager - Gestor de asistencias técnicas {% block title %}{% endblock %}</title>

    <!-- Latest compiled and minified CSS, hoja estilo bootstrap -->
<link rel="stylesheet" href="{{ asset('css/bootstrap.css')}}"> 
{% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/local.css')}}"> 

       <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        
          </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

            <li><a href="{{ path('backend_inicial') }}" 
                   title="Gestionar datos auxiliares del sistema"
                   >Administración</a>
            </li>
            
            <li><a href="{{ path('patrimonio_inicial') }}" 
                  title="Gestionar bienes de uso/equipamiento"
                  >Patrimonio</a>
            </li>

            <li><a href="{{ path('atecnica_inicial') }}"
                  title="Abordaje y evolución de asistencias técnicas"
                  >Abordaje de AT</a>
            </li>
             
            <li><a href="{{ path('indicador_inicial') }}"
                title="Obtener indicadores sobre asistencias técnicas"
                >Indicadores</a>
            </li>

            <li><a href="{{ path('frontend_inicial') }}"
                    title="Solicitar/Consultar Asistencia técnica (No requiere login)"
                    >Solicitar AT</a>
            </li>

          </ul>    

           {% block buscar %}
          
           {% endblock %}


                  
        
          
          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ayuda
                <b class="caret"></b></a>
              <ul class="dropdown-menu">

                {% if is_granted('ROLE_TECNICO') %}
                <li><a href="{{ asset('manuales/manual_admin.pdf') }}" target="_blank">Descargar Manual Técnico</a></li>
                {% endif %}
                <li><a href="{{ asset('manuales/manual_user.pdf') }}" target="_blank">Descargar Manual Usuario</a></li>
                <li class="divider"></li>
                <li><a href="#">Contactenos</a></li>
                <li class="divider"></li>
                <li><a href="#">Acerca de AT Manager</a></li>
              </ul>
          </li>

              <li>  
                <a href="{{ path('inicio')}}">Inicio</a>  
              </li>
               {% if app.user %}
                <li><a href="#">{{ app.user.nombre }}</a></li>
                {% endif %}

          </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div> <!-- fin navbar -->


    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-9">
           {% for flashMessage in app.session.flashbag.get('success') %}
           
               <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                {{ flashMessage }}
               </div>

            {% endfor %}

               {% for flashMessage in app.session.flashbag.get('error') %}
           
               <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                {{ flashMessage }}
               </div>

            {% endfor %}
          {% block content %}{% endblock %}
          
        </div><!--/span-->
        
        {% block menuwrap %}

        {% endblock %}

      </div><!--/row-->

      <hr>
    {% block pie %}

      <footer>
        <p> &copy; {{ 'now' | date('Y') }} - AT Manager  <em> <strong> By Symfony </strong> </em> 
        <a href="{{ path('pagina_estatica', { 'pagina': 'ayuda' }) }}">[Ayuda]</a>
        <a href="{{ path('pagina_estatica', { 'pagina': 'contacto' }) }}">[Contacto]</a>
        <a href="{{ path('pagina_estatica', { 'pagina': 'sobre-nosotros' }) }}">[Sobre el Proyecto]</a>
        <a href="{{ path('fos_user_security_login')}}">[Inicio Sesión]</a>
        <a href="{{ path('fos_user_security_logout')}}">[Fin Sesión]</a>
        </p>        
      </footer>
    {% endblock %}  


    </div><!--/.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <!-- Latest compiled and minified JavaScript -->
{% block javascript %}
          
          {% endblock %}
  </body>
</html>


