{% extends '::base.html.twig' %}

{% block content %} 

         <h3 class="title">Bienvenidos</h3>
         {% if app.user %}
         {{ app.user.nombre }}
         <a href="{{ path('fos_user_security_logout')}}">[logout]</a>
          <a href="{{ path('tecnico_cambiopass')}}">[Cambio contraseña]</a> 

         {% endif %}
              <p></p>
              <p>AT Manager es un proyecto de gestión de <strong>Asistencias Técnicas</strong></p>
                <p>
                  Este sistema pretende normalizar procesos informales de pedidos de asistencias a los diferentes sectores técnicos:
                </p>
                <ul>
                    <li>Bioingenieria</li>
                    <li>Electricidad</li>
                    <li>Informática </li>
                    <li>Obra Civil  </li>
                    <li>Patrimonio  </li>
                </ul>

                <p>
                  Con AT Manager podrás <a href="{{ path('at_new') }}">solicitar</a> soporte desde tu PC y realizar un <a href="{{ path('at_buscador')}}">seguimiento</a> posterior del mismo
                </p> 
                 
                
                <p>
                  Colaborá utilizando esta interface y simplificá tu trabajo y el de los técnicos.
                </p>

{% endblock %}
          
       