{% extends 'AtBundle::base_at.html.twig' %} 
{% block content %}
   <h3>Gestión de Fallas encontradas en AT: {{ at }}</h3>
   <table>
       <td>
            <a href="{{ path('at_falla_new', { 'idAt': at.id }) }}">
                <h4>[Crear]&nbsp;</h4>
            </a>
       </td>
       <td>
            <a href="{{ ret }}">
                <h4>[Volver]</h4>
            </a>
       </td>
   </table>
   <table class="table table-bordered table-striped">
        <thead>
            <tr>
		<th colspan="2" style="text-align:center">Acciones</th>
                <th>Falla</th>
                <th>Jerarquia</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
		<td>
                    <a href="{{ path('at_falla_show', { 'id': entity.id }) }}">
                        Ver
                    </a>
                </td>
		{% if(at.miUltimoEstadio.clasificacion.finalizaAt(false)) %}
                    <td>
                        <a href="{{ path('at_falla_eliminar', { 'id': entity.id }) }}" onClick="return confirm('¿Desea eliminar la falla seleccionada?');">
                            Eliminar
                        </a>
                    </td>
                {% else %}
                    <td>Eliminar</td>
                {% endif %}    
                <td>{{ entity.falla }}</td>
                <td>{{ entity.rol }}</td>
                
        {% endfor %}
        </tbody>
    </table>
{% endblock %}