{% extends 'AtBundle::base_at.html.twig' %} 
{% block content %}
   <h3>Gestión de Repuestos en AT: {{ at }}</h3>
   <table>
       <td>
            <a href="{{ path('at_repuesto_new', { 'idAt': at.id }) }}">
                <h4>[Crear]&nbsp;</h4>
            </a>
       </td>
       <td>
            <a href="{{ ret }}">
                <h4>[Volver]</h4>
            </a>
       </td>
   </table>
   <table class="table table-bordered table-striped">
        <thead>
            <tr>
		<th colspan="3" style="text-align:center">Acciones</th>
                <th>Fecha</th>
                <th>Subtotal</th>
                <th>Repuesto</th>
                <th>Proveedor</th>            
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
		<td>
                    <a href="{{ path('at_repuesto_show', { 'id': entity.id }) }}">
                        Ver
                    </a>
                </td>
		<td>
                    <a href="{{ path('at_repuesto_edit', { 'id': entity.id }) }}">
                        Editar
                    </a>
                </td>
		<td>
                    <a href="{{ path('at_repuesto_eliminar', { 'id': entity.id }) }}" onClick="return confirm('¿Desea eliminar el repuesto seleccionado?');">
                        Eliminar
                    </a>
                </td>
                <td>{{ entity.fecha | date('d-m-Y') }}</td>
                <td>{{ entity.obtenerTotal() }}</td>
                <td>{{ entity.repuesto.nombre }}</td>
                <td>{{ entity.proveedor.nombre }}</td>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}