{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Ver Proveedor</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Cuit:</th>
                <td>{{ entity.cuit }}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Dirección:</th>
                <td>{{ entity.calle ~ ' ' ~ entity.puerta }}</td>
            </tr>
            <tr>
                <th>Telefono:</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Correo:</th>
                <td>{{ entity.correo }}</td>
            </tr>
            <tr>
                <th>Comentario:</th>
                <td>{{ entity.comentario }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('proveedor') }}">
        Volver al Listado
    </a>
{% endblock %}
