{% extends '::base.html.twig' %}
{% block menuwrap %}
    <div class="col-xs-3" id="sidebar" role="navigation">
        <div class="list-group">    	
	    <a href="{{ path('indicador_1') }}" class="list-group-item" title="Historial de AT por Patrimonio">1. Historial de AT</a>
            <a href="{{ path('indicador_2') }}" class="list-group-item" title="Ranking de Patrimonios por Período">2. Ranking de Bienes de Uso</a>
            <a href="{{ path('indicador_3') }}" class="list-group-item" title="Cantidad de AT por Sector">3. AT por Sector</a>
            <a href="{{ path('indicador_4') }}" class="list-group-item" title="Promedio de Espera por Estadio">4. Promedio de Espera</a>
            <a href="{{ path('indicador_5') }}" class="list-group-item" title="Ranking de Demandas por Sector">5. Ranking de Demandas</a>
            <a href="{{ path('indicador_6') }}" class="list-group-item" title="Costos Insumidos en Pesos">6. Costos Insumidos</a>
            <a href="{{ path('indicador_7') }}" class="list-group-item" title="Cantidad de Atenciones por Fallas">7. At por Falla</a>
            <a href="{{ path('indicador_8') }}" class="list-group-item" title="Productividad de Técnicos">8. Productividad de Técnicos</a>
            <a href="{{ path('indicador_9') }}" class="list-group-item" title="Distribución del Consumo en Pesos">9. Consumo en Pesos</a>
            <a href="{{ path('indicador_10') }}" class="list-group-item" title="Fallas Repetidas en un Patrimonio">10. Fallas Repetidas</a>
        </div>
    </div>
{% endblock %}