{% extends '::base.html.twig' %}
{% block menuwrap %}
    <div class="col-xs-3" id="sidebar" role="navigation">
        <div class="list-group">    	
	    <a href="{{ path('indicador_1') }}" 
        class="list-group-item 
         {% if app.request.get('_route') == 'indicador_1'%}
         active
         {% endif %}" title="Historial de AT's de un patrimonio">1. Historial de AT</a>

        <a href="{{ path('indicador_2') }}"  class="list-group-item 
        {% if app.request.get('_route') == 'indicador_2'%}
        active
        {% endif %}" 
        title="Ranking de atenciones agrupadas por patrimonios en un Período">2. Cantidad de At por patrimonio</a>

        <a href="{{ path('indicador_3') }}" class="list-group-item 
        {% if app.request.get('_route') == 'indicador_3'%}
        active
        {% endif %}"  title="Cantidad de AT's abordadas por sectores técnicos">3. AT por Sector técnico</a>

        <a href="{{ path('indicador_4') }}" class="list-group-item 
        {% if app.request.get('_route') == 'indicador_4'%}
        active
        {% endif %}"  title="Promedio de Espera por Estadio">4. Promedio de Espera</a>

        <a href="{{ path('indicador_5') }}" class="list-group-item 
        {% if app.request.get('_route') == 'indicador_5'%}
        active
        {% endif %}"  title="Ranking de Demandas por Sectores Solicitantes">5. Demanda por sector solicitante</a>

        <a href="{{ path('indicador_6') }}" class="list-group-item 
        {% if app.request.get('_route') == 'indicador_6'%}
        active
        {% endif %}"  title="Costos en Pesos por contrataciones a terceros">6. Costos por servicios de terceros</a>

        <a href="{{ path('indicador_7') }}" class="list-group-item 
        {% if app.request.get('_route') == 'indicador_7'%}
        active
        {% endif %}"  title="Cantidad de Atenciones por Fallas">7. Atenciones agrupadas por Falla</a>

        <a href="{{ path('indicador_8') }}" class="list-group-item 
        {% if app.request.get('_route') == 'indicador_8'%}
        active
        {% endif %}"  title="Productividad de Técnicos">8. Productividad de Técnicos</a>

        <a href="{{ path('indicador_9') }}" class="list-group-item 
        {% if app.request.get('_route') == 'indicador_9'%}
        active
        {% endif %}"  title="Costo  en pesos por adquisición de repuestos">9. Costos por repuestos</a>

        <a href="{{ path('indicador_10') }}" class="list-group-item 
        {% if app.request.get('_route') == 'indicador_10'%}
        active
        {% endif %}"  title="Fallas reincidentes en un Patrimonio">10. Fallas Reincidentes </a>

        </div>
    </div>
{% endblock %}