{% extends 'AtBundle::base_at.html.twig' %} 
{% block content %}
    <h3>Técnicos en AT : {{ entity.id }}</h3>
    <table>
       <td>
            <a href="{{ path('atecnico_mapa',{ 'atId':entity.id }) }}">
                <h4>[Crear]&nbsp;</h4>
            </a>
       </td>
       <td>
            <a href="{{ ret }}">
                <h4>[Volver]</h4>
            </a>
       </td>
   </table>
    <table class="table table-bordered table-striped">
        <thead>
            <th>Acción</th>
            <th>Técnico</th>
            <th>Rol</th>
        </thead>
        <tbody>
        {% for peon in entity.getTecnicos() %}    
            <tr>
                <td>
                    {% if peon.rol.nombre!="PRINCIPAL" %}
                        <a href="{{ path('atecnico_eliminar',{ 'id':peon.id }) }}" onClick="return confirm('¿Desea Eliminar el Ayudante Seleccionado?');">
                            Eliminar
                        </a>
                    {% endif %}
                </td>
                <td>{{ peon.tecnico }}</td>
                <td>{{ peon.rol }}</td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
{% endblock %}
