{% extends 'AtBundle::base_at.html.twig' %} 
{% block content %}
    <h3>Asignar Ayudante para AT: {{ entity.id}}</h3>
    
    <a href="{{ path('atecnico', {'atId': entity.id }) }}"><h4>[Volver]</h4></a>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Ver Mapa técnicos <span class="badge"> {{ mapatec | length }} </span>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <th>Asignar</th>
                            <th>Técnico</th>
                        </thead>
                        <tbody>
                        {% for mapa in mapatec  %}
                            <tr>
                                <td>
                                    <a href="{{ path('atecnico_new',{ 'atId': entity.id,'tecId': mapa.id }) }}">     
                                        [Ayudante] 
                                    </a>   
                                </td>
                                <td>{{ mapa.nombre }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>    
                </div>
            </div>
        </div>  
    </div>
{% endblock %}