{% extends 'AtBundle::base_at.html.twig' %} 
{% block content %}
    <h4>Mi agenda laboral: {{ tecnico.nombre }} </h4>
    <hr>
    
   
    <table class="table table-bordered table-striped table-condensed">
        <thead>
           
	        <th>AT</th>
            <th>Problema</th>
            <th>Último Estadio</th>
             <th>Prioridad</th>
            <th style="text-align:center">Acciones</th>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                             
                
                           
                <td><a href="{{ path('atecnica_show', { 'id': entity.id }) }}" title="Ver Asistencia Técnica">{{ entity.id }}</a></td>

                <td>{{ entity.descripcion}}</td>

                <td><a href="{{ path('at_ver_historico', { 'id': entity.id }) }}" title="Visualizar historico solo lectura">{{ entity.miUltimoEstadio() }}</a></td>

                 <td>{{ entity.prioridad}}</td>
                 <td>
                     
                     <!-- Single button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('at_historico',{ 'idAt': entity.id })}}">Evolución ({{ entity.historicos.count }})</a>
                        </li>

                        <li>
                            <a href="{{ path('at_falla', { 'idAt': entity.id }) }}"> Fallas ({{ entity.fallas.count }})</a>
                        </li>
                        <li>
                            <a href="{{ path('atecnico',{ 'atId': entity.id })}}">Técnicos ({{ entity.tecnicos.count }}) </a>
                        </li>
                                                   
                        <li>
                            <a href="{{ path('at_repuesto', { 'idAt': entity.id }) }}"> Repuestos ({{ entity.repuestos.count }})</a>
                        </li>
                        <li>
                            <a href="{{ path('at_servicio', { 'idAt': entity.id }) }}"> Servicios terceros ({{ entity.servicios.count }})</a>
                        </li>
                        
                        <li>
                            <a href="{{ path('at_nota', { 'idAt': entity.id }) }}"> <i class="glyphicon glyphicon-paperclip"></i> Notas ({{ entity.notas.count }})
                            </a>
                        </li>
                        
                      </ul>
                    </div>
                 </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if entities.getTotalItemCount > 10 %}
    	{{ knp_pagination_render(entities) }}
    {% endif %}
    <br />
    <a href="{{ path(volver) }}">[Volver a filtrar]</a>   

{% endblock %}
