{% extends 'AtBundle::base_at.html.twig' %} 
{% block content %}
    <h3>Agenda de: {{ tecnico}}</h3>
    
    <a href="javascript:history.back(1)"><h4>[Volver]</h4></a>
   
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <th colspan="7" style="text-align:center">Acciones</th>
	    <th>Nro AT</th>
            <th>Problema</th>
            <th>Último Estadio </th>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                <td><a title="Evoluciona AT" href="#">EVO</a></td>
                <td><a title="Fallas de AT" href="#">FAL</a></td>
                <td><a title="Técnicos Ayudantes" href="#">TEC</a></td>
                <td><a title="Repuestos de AT" href="#">REP</a></td>
                <td><a title="Servicios Terceros de AT" href="#">SEV</a></td>
                <td><a title="Notas de AT" href="#">NOT</a></td>
                <td><a href="{{ path('at_ver_historico', { 'id': entity.id }) }}" title="Consultar evolución de AT">HIS</a></td>
                <td><a href="{{ path('at_show', { 'id': entity.id }) }}" title="Consultar/reimprimir Solicitud">{{ entity.id }}</a></td>
                <td>{{ entity.descripcion}}</td>
                <td>{{ entity.miUltimoEstadio() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}