{% extends 'AtBundle::base_at.html.twig' %} 
{% block content %}
    <h3>Gestión de Notas en ATs : {{ at }}</h3>
   <br />
    <a href="{{ path('at_nota_new', { 'idAt': at.id }) }}">
    	<h4>[Crear]</h4>
    </a>	
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
		<th colspan="3" style="text-align:center">Acciones</th>
                <th>Id</th>
                <th>At</th>
                <th>Descripcion</th>
                <th>Fecha</th>   
                <th>Comentario</th>
                <th>Archivo</th>            
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
		<td><a href="{{ path('at_nota_show', { 'id': entity.id }) }}">Ver</a></td>
		<td><a href="{{ path('at_nota_edit', { 'id': entity.id }) }}">Editar</a></td>
		<td><a href="{{ path('at_nota_eliminar', { 'id': entity.id }) }}">Eliminar</a></td>
                <td>{{ entity.id }}</td>
                <td>{{ entity.at }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.fecha | date('d-m-Y') }}</td>
                <td>{{ entity.comentario }}</td>
                <td><a href="{{ asset(entity.getWebPath) }}" target="_blank">Ver</a></td>

        {% endfor %}
        </tbody>
    </table>
    <br />
      <a href="javascript:history.back(1)">[Volver]</a>  
    	
{% endblock %}
