{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Ver Sector</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Internos:</th>
                <td>{{ entity.internos }}</td>
            </tr>
            <tr>
                <th>Mail:</th>
                <td>{{ entity.mail }}</td>
            </tr>
            <tr>
                <th>Referente:</th>
                <td>{{ entity.referente }}</td>
            </tr>
            <tr>
                <th>Tipo de Sector:</th>
                <td>{{ entity.tipo }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('sector_listado') }}">
        Volver al Listado
    </a>
{% endblock %}