{% extends 'BackendBundle::base_backend.html.twig' %} 

{% block content %}
    <h3>Gestión de tipo de sectores</h3>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan="3" style="text-align: center">Acciones</th>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Origen</th>
                <th>Destino</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
              <td><a href="{{ path('sectortipo_show', { 'id': entity.id }) }}">Ver</a> </td>
              <td><a href="{{ path('sectortipo_edit', { 'id': entity.id }) }}">Editar</a> </td>
              <td><a href="{{ path('sectortipo_eliminar', { 'id': entity.id }) }}">Eliminar</a> </td>

                <td>{{ entity.id }}</td> 
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.origen }}</td>
                <td>{{ entity.destino }}</td>
                
                          
            </tr>
        {% endfor %}
        </tbody>
    </table>

      <ul>
        <li>
            <a href="{{ path('sectortipo_new') }}">
                Nuevo Tipo
            </a>
        </li>
        </ul>

    {% endblock %}
