{% extends 'BackendBundle::base_backend.html.twig' %} 
{% block content %}
   <h3> Gestión de Locales </h3>
   {{ form(form)}}
   <br />
   <a href="{{ path('local_nuevo')}}"> <!-- class="btn btn-primary" --> 
	<h4>[Crear Local]</h4>
   </a>
   <table class="table table-bordered table-striped" >
   	<tr>
	    <th colspan="3" style="text-align:center"> Acciones </th>
	    <th> Id </th>
	    <th> Nombre </th>
	    <th> Referencia </th>
   	</tr>
   	{% for local in locales %}
   	<tr>
	    <td><a href="{{ path('local_show', {'id': local.id} )}}">Ver</a></td>
	    <td><a href="{{ path('local_edit', {'id': local.id} )}}">Editar</a></td>
	    <td><a href="{{ path('local_delete', {'id': local.id} )}}"  onclick="return confirm('¿Desea eliminar el item seleccionado?');">Eliminar</a></td> 
	    <td> {{ local.id }} </td>
	    <td> {{ local.nombre }} </td>
	    <td> {{ local.codigointerno }} </td>
   	</tr>
 	{% endfor %}
    </table>
    {% if locales.getTotalItemCount > 10 %}
	{{ knp_pagination_render(locales) }}
    {% endif %}
{% endblock %}
