{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Ver Local</h3>
    <table class="table">
   	<tr>
     	    <th>Id:</th>
            <td>{{ entity.id }}</td>
     	</tr>
    	<tr>
     	    <th>Nombre:</th>
            <td>{{ entity.nombre }}</td>
   	</tr>
     	<tr>
            <th>Referencia:</th>
     	    <td>{{ entity.codigointerno }}</td>
     	</tr>
	<tr>
            <th>Ala Sector:</th>
     	    <td>{{ entity.alasector.nombre  }}</td>
     	</tr>
    </table>
 	<a href="{{ path('local_listado') }}">
            Volver a listado
        </a>
{% endblock %}
