{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Gestión de Roles</h3>

    <a href="{{ path('rol_new') }}">
   	<h4>[Crear]</h4>
    </a>	
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan="3" style="text-align:center">Acciones</th>
                <th>Id</th>
                <th>Nombre</th>
                <th>¿Es Principal?</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('rol_show', { 'id': entity.id }) }}">Ver</a></td>    
                <td><a href="{{ path('rol_edit', { 'id': entity.id }) }}">Editar</a></td>
                <td><a href="{{ path('rol_eliminar', { 'id': entity.id }) }}" onclick="return confirm('¿Desea eliminar el item seleccionado?');">Eliminar</a></td>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombre }}</td>
                {% if entity.esprincipal %}
                    <td>si</td>
                {% else %}
                    <td>no</td>    
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>          
{% endblock %}
