{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Rol list</h3>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('rol_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('rol_show', { 'id': entity.id }) }}">show</a>
                        <a href="{{ path('rol_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('rol_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
