{% extends 'PatrimonioBundle::base_patrimonio.html.twig' %} 
{% block content %}
    <h3>Buscar Patrimonios</h3>
    <a href="{{ path('patrimonio_new') }}">
        [Crear]
    </a>
    
     {#form(form)#}

{{ form_start(form,{'attr': {'novalidate':'novalidate'}} )}}  
<div class="row"> 
	<div class="col-xs-6"> 
		
		{{ form_row(form.numero)}}
		{{ form_row(form.descripcion)}}
		{{ form_row(form.serial)}}
	    {{ form_row(form.observacion)}}



	</div> 
    
    <div class="col-xs-6">	 		 		 	 
        {{ form_row(form.local)}}
		{{ form_row(form.marca)}}
	    {{ form_row(form.clasificacion)}}

	     <div class="form-group">
	    
	     {{ form_row(form.filtrar)}}
	     {{ form_row(form.exportar)}}
	     </div> 


    </div>

</div> 
{{ form_end(form) }} 
    


{% endblock %}
