{% extends 'PatrimonioBundle::base_patrimonio.html.twig' %} 
{% block content %}
    <h3>Gestión de Patrimonios</h3>
    <table>
    <tr>
	<td>
	    <a href="{{ path('patrimonio_new') }}">
        	<h4>[Crear]&nbsp;</h4>
    	    </a>
	</td>	
	<td>
	    <a href="{{ path('patrimonio_buscador') }}">
    		<h4>[Buscar]</h4>
	    </a>
	</td>    
    </tr>
    </table>    	
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
		<th colspan="3" style="text-align:center">Acciones</th>
                <th>Id</th>
                <th>Descripcion</th>
		<th>Local</th>                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
		<td><a href="{{ path('patrimonio_show', { 'id': entity.id }) }}"> Ver </a></td>
		<td><a href="{{ path('patrimonio_edit', { 'id': entity.id }) }}">Editar</a></td>
		<td><a href="{{ path('patrimonio_delete', { 'id': entity.id }) }}">Eliminar</a></td>
                <td>{{ entity.id }}</td>
                <td>{{ entity.descripcion }}</td>
		<td>{{ entity.local.getCodigoInterno() ~ ' ' ~ entity.local.getNombre() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if entities.getTotalItemCount > 10 %}
     	{{ knp_pagination_render(entities) }}
    {% endif %}
{% endblock %}
