{% extends 'PatrimonioBundle::base_patrimonio.html.twig' %} 

{% block content %}

<h3>Crear Patrimonio</h3>
 
{{ form_start(form,{'attr': {'novalidate':'novalidate'}} )}}  
<div class="row"> 
	<div class="col-xs-6"> 
		{{ form_row(form.clasificacion)}}
		{{ form_row(form.descripcion)}}
		{{ form_row(form.local)}}
		{{ form_row(form.responsable)}}	
		{{ form_row(form.marca)}}
		{{ form_row(form.modelo)}}
		{{ form_row(form.serial)}}
	</div> 
	<div class="col-xs-6">
	 	{{ form_row(form.precio)}}
	 	{{ form_row(form.estimado)}}
	 	{{ form_row(form.fechaAlta)}}
	 	{{ form_row(form.estado)}}
	 	{{ form_row(form.observacion)}}
	 	{{ form_row(form.submit)}}
	 	<a href="{{ path('patrimonio_buscador') }}">
     		<h5> Volver al buscador </h5>
     	</a>
	</div>
</div> 
{{ form_end(form) }}    
{% endblock %}