{% extends 'PatrimonioBundle::base_patrimonio.html.twig' %}

{% block content %}
    <h3>Ver Patrimonio</h3>
    <!-- <form name="frmimprimir"> -->
    <table class="table">
        <tbody>
            <tr>
                <th>Número del Patrimonio:</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre del Patrimonio:</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Responsable del Patrimonio:</th>
                <td>{{ entity.responsable }}</td>
            </tr>
            <tr>
                <th>Modelo del Patrimonio:</th>
                <td>{{ entity.modelo }}</td>
            </tr>
            <tr>
                <th>Serial del Patrimonio:</th>
                <td>{{ entity.serial }}</td>
            </tr>
            <tr>
                <th>Observacion del Patrimonio:</th>
                <td>{{ entity.observacion }}</td>
            </tr>
            <tr>
                <th>Fecha de Alta:</th>
                <td>{{ entity.fechaAlta|date('d/m/Y - H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecha de Baja:</th>
                <td>{% if entity.fechaBaja is not null %}
                        {{ entity.fechaBaja|date('d/m/Y - H:i:s') }} 
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Habilita:</th>
                <td>
                    {% if entity.habilita %}
                        {{ 'Sí' }}
                    {% else %}
                        {{ 'No' }}    
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Precio:</th>
                <td>{{ entity.precio }}
                {% if entity.estimado %} {{ 'Es estimado' }} 
                    {% else %} {{ '= Factura' }}
                    {% endif %}</td>
            </tr>
             <tr>
                <th>Ultima actualización realizada por:</th>
                <td>{% if entity.tecnico %} {{ entity.tecnico }} 
                    {% else %} {{ 'No hay datos del técnico' }}
                    {% endif %}
                </td>
            </tr>
             <tr>
                <th>Fecha Ultima actualización:</th>
                <td> {{ entity.fechaModifica|date('d/m/Y - H:i:s') }}
                </td>
            </tr>
        </tbody>
    </table>
   <!-- <input type="button" value="Imprimir" onClick="window.print();" class="btn btn-primary" /> -->
    <a href="{{ path('patrimonio_buscador') }}">
        Volver al Buscador
    </a>
   <!-- </form> -->
{% endblock %}
